/autom4te.cache
/target
/rpmbuild
/debbuild
/RPMS
/tgz
/stage
/*.tar.gz
Makefile
Makefile.in
config.*
missing
stamp*
aclocal.m4
/configure
/libtool
/project/compile
/project/*.m4
/libargus-pep.pc
install-sh
ltmain.sh
/doc/html
/src/*.o
/src/pepcli
*.lo
*.la
.libs
